const port = process.env.PORT || 3000; 
const SESSION_SECRET = process.env.SESSION_SECRET || "pizza"; 
const AUTH_URL = process.env.AUTH_URL || 'http://localhost:420';
const THIS_URL = process.env.THIS_URL || ' http://localhost:${port}'; 
const API_KEY = process.env.API_KEY
